<ul class="list-group">
    <!--<li class="list-group-item list-group-item-info">-->
        <!--<input #input type="text" placeholder="Filter" [(ngModel)]="search">-->
    <!--</li>-->
    <li class="list-group-item list-group-item-info">Todos</li>
    <li *ngFor="let todo of todos | async" class="list-group-item">
        <div>{{ todo.body }}</div>
        <div class="row">
            <div class="col-md-3">{{ todo.status }}</div>
            <div class="col-md-3">{{ todo.category }}</div>
            <div class="col-md-3">{{ todo.owner }}</div>
        </div>
    </li>
</ul>