<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <!--<input #input type="text" placeholder="Search" [(ngModel)]="search">-->
        Body:
        <input #input type="text" [(ngModel)]="body">

        Owner:
        <input #input type="text" [(ngModel)]="owner">

        Category:
        <input #input type="text" [(ngModel)]="category">

        Status:
        <select #input [(ngModel)]="status">
            <option value=""></option>
            <option value="true">Complete</option>
            <option value="false">Incomplete</option>
        </select>

        <!--Order by:-->
        <!--<select name="orderBy" id="orderBy" >-->
            <!--<option value=""></option>-->
            <!--<option value="owner">Owner</option>-->
            <!--<option value="body">Body</option>-->
            <!--<option value="status">Status</option>-->
            <!--<option value="category">Category</option>-->
        <!--</select>-->

    </li>
    <li class="list-group-item list-group-item-info">Todos</li>
    <li *ngFor="let todo of todos | async |  filterBy: {body: body, owner: owner, category: category, status: status}"
class="list-group-item">
        <div>{{ todo.body }}</div>
        <div class="row">
            <div class="col-md-3">{{todo.status ? "Complete" : "Incomplete"}}</div>
            <div class="col-md-3">{{ todo.category }}</div>
            <div class="col-md-3">{{ todo.owner }}</div>
        </div>
    </li>
</ul>